<!-- Main Section -->
<main>
    <div class="row">
        <div class="col-xs-12">
            <div class="news">
                {{#each result}}
                    <div class="article container well">
                        <div class="row">
                            <div class="col-md-9 article-info">
                                <a href="{{link}}"><h4>{{title}}</h4></a>
                                <h4><small>By {{author}}</small></h4>
                                <p>{{blurb}}</p>
                            </div>
                            <div class="col-md-3">
                                <a href="{{link}}"><img src="{{image}}" class="center-block"></a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
